#app-root {
    padding-left: calc(100vw - 100%);
}

.page-header-btn {
    margin-left: 20px;
}
.table > tbody > tr > td {
    vertical-align: middle;
}

.Select-clear {
    vertical-align: middle;
}

.product-add-btn {
    margin-top: 25px;
}

.btn-delete {
    color: #e53935;
}

.custom-modal-btns {
    text-align: right;
}

.modal-body {
    word-break: break-all;
}

.table > tbody > tr > td {
    word-break: break-all;
}

.invoice-form-products tbody td:last-child {
    text-align: center;
}

.container .jumbotron {
    background-color: transparent;
    padding-right: 130px;
    padding-left: 130px;
}

.container .jumbotron h1 {
    margin-bottom: 20px;
}

.container .jumbotron p {
    margin-bottom: 15px;
}
