.page-header-btn {
    margin-left: 20px;
}
.table > tbody > tr > td {
    vertical-align: middle;
}

.Select-clear {
    vertical-align: middle;
}

.product-add-btn {
    margin-top: 25px;
}

.btn-delete {
    color: #e53935;
}

.custom-modal-btns {
    text-align: right;
}
